<h1> My Cart </h1> 
{% if  cart_items %}
    <ul>

    {% for item in cart_items %}
    <div class="card">
        {% comment %} <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%"> {% endcomment %}
        <h2>{{item.name}}</h2>
        <p class="price">${{item.price}}</p>
        <p>{{item.description}}</p>

        <p> <a href="/cart/remove?product_id={{item.id}}"> - decrease </a></p>
        <p>quanttiy: {{item.quantity}}</p>
        <p> <a href="/cart/add?product_id={{item.id}}"> + increes </a></p>
      </div>
    {% endfor %}
    </ul>
{% else %}
    <p> Cart is ampty.</p>
{% endif %}


<a href="/">Home</a> |
<a href="/cart/empty"> empty cart</a>
